body {
    background-image: url('../images/background.jpg');
    background-size: cover;
}

/* the transition animations are not working as intended, maybe in confllict with bootstrap*/

button {
    width: 100%;
    height: 100%;
    -webkit-transition: width 2s, height 2s, opacity 2s;
    transition: width 2s, height 2s, opacity 2s;
    opacity: 0.4;
}

button:hover {
    opacity: 1;
    width: 105%;
    height: 105%;
}

button:active {
    transform: translateY(0.5em);
}

