body {
    background-image: url('../images/background.jpg');
    background-size: cover;
}

h1 {
    text-align: center;
}

/* the transition animations are not working as intended, maybe in confllict with bootstrap*/

img {
    width: 12.5em;
    height: 12.5em;
    -webkit-transition: width 1s, height 1s, transform 1s, opacity 1s;
    transition: width 1s, height 1s, transform 1s, opacity 1s;
    opacity: 0.4;
}

img:hover {
    opacity: 1;
    width: 15em;
    height: 15em;
    transform: translateX(0.5em);
}

img:active {
    transform: translateY(0.5em);
}

