body {
    background-image: url('../images/background.jpg');
    background-size: cover;
}

h1, h2 {
    text-align: center;
}

/* the transition animations are not working as intended, maybe in confllict with bootstrap*/

img {
    -webkit-transition: width 0.25s, height 0.25s, transform 0.25s, opacity 0.25s;
    transition: width 0.25s, height 0.25s, transform 0.25s, opacity 0.25s;
    opacity: 0.4;
}

img:hover {
    opacity: 1;
    transform: translateY(-1em);
}

img:active {
    transform: translateY(0.25em);
}

.card {
    backdrop-filter: blur(18px);
    background-color: rgba(232, 232, 232, 0.5);
}

.row {
    display: flex;
    justify-content: space-around;
}

.row > * {
    flex-direction: row;
}

